<a href="https://colab.research.google.com/github/macrodatascience/datastructures/blob/main/Two_Sum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
class Solution:
  def twoSum(self, nums, target):
    for i in range(len(nums)):
      for j in range(len(nums)):
        if j==i:
          pass
        elif (nums[i]+nums[j]==target):
            return i,j
    return None

  def TwoSumHash(self, nums, target):
    d = {}
    for i in range(len(nums)):
      
      if target-nums[i] not in d:
          d[nums[i]] = i
          print(d)
      elif target-nums[i] in d:
        return i, d[target-nums[i]]

In [32]:
s = Solution()
s.twoSum([2,7,11,15],17)

(0, 3)

In [33]:
import pandas as pd

df = pd.DataFrame({'a':[1,2], 'b':[3,4]})
df

   a  b
0  1  3
1  2  4

In [34]:
df.index=['One','Two']

In [35]:
df

     a  b
One  1  3
Two  2  4

In [36]:
df.insert(2,'c',[5,6])

In [37]:
df

     a  b  c
One  1  3  5
Two  2  4  6

In [ ]:
class Solution:
    def twoSum(self, nums: List[int], target: int) -> List[int]:
        d = {}
        for i in range(len(nums)):
            if target-nums[i] in d:
                return i, d[target-nums[i]]
            else:
                d[nums[i]]=i
        return None